.paginator-nav {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}

.active {
    background-color: var(--primary-color);
    color: black;

}

ul {
    display: flex;
    list-style-type: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    font-size: 16px;
    height: 30px;
    min-width: 30px;
    padding: 5px;
}

a:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: black;
}

.aaa {
    background-color: red;
}