<section class="face-page">
    <h1>Locations</h1>
    <div class="group">
        <span class="material-symbols-outlined icon">search</span>
        <input placeholder="filter locations" type="search" class="input">
    </div>
</section>
<div class="stars-container">
    <app-stars />
    <section class="page-wrapper">
        <app-location-card *ngFor="let location of dataLocationPage?.results" [location]="location"></app-location-card>
    </section>
    <app-paginator (newItemEvent)="navigateToPage($event)" [paginatorInfo]="locationInfo"></app-paginator>
</div>