nav {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, rgba(169, 211, 233, 1) 0%, rgba(109, 197, 244, 1) 100%);
}

img {
    max-width: 7rem;
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

li {
    display: flex;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.7rem;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:hover:nth-child(n+1) {
    background-color: rgb(93, 187, 238);
}