nav {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
}

img {
    max-width: 7rem;
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

li {
    display: flex;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.7rem;
    color: black;
    text-align: center;
    text-decoration: none;
}

li a:nth-child(n+1) {}

li a:hover:nth-child(n+1) {
    background-color: #78bee4;
}