<p>created: {{dataCharacter?.created}}</p>
<p>episode: {{dataCharacter?.episode}}</p>
<p>gender: {{dataCharacter?.gender}}</p>
<p>id: {{dataCharacter?.id}}</p>
<p>image: {{dataCharacter?.image}}</p>
<p>name: {{dataCharacter?.name}}</p>
<p>species: {{dataCharacter?.species}}</p>
<p>status: {{dataCharacter?.status}}</p>
<p>type: {{dataCharacter?.type}}</p>
<p>url: {{dataCharacter?.url}}</p>

<p>location: {{dataCharacter?.location?.name}}</p>
<p>location: {{dataCharacter?.location?.url}}</p>

<p>origin: {{dataCharacter?.origin?.name}}</p>
<p>origin: {{dataCharacter?.origin?.url}}</p>