#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3.9em;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}

.hehe {
    height: 200px;
    width: 200px;
    background-color: red;
}