<section class="face-page">
    <h1>Episodes</h1>
    <form>
        <input type="text" placeholder="filter episode" #filter>
        <button class="primary" type="button">Search</button>
    </form>
</section>
<div class="stars-container">
    <app-stars />
    <section class="page-wrapper ">
        <app-episode-card *ngFor="let episode of dataEpisodePage?.results" [episode]="episode"></app-episode-card>
    </section>
    <app-paginator (newItemEvent)="navigateToPage($event)" [paginatorInfo]="episodeInfo"></app-paginator>
</div>