.face-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    color: var(--primary-color);
    height: 10vh;
    font-family: "Poppins", sans-serif;
    padding: 0 22px 0 22px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus, input:hover {
    outline: none;
    border-color: rgba(76, 197, 234, 0.952);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 0.5rem;
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 1em;
    margin: 10px;
    margin-bottom: 70px;
}

.stars-container {
    overflow: hidden;
}