<section class="face-page">
    <h1>Characters</h1>
    <form>
        <input type="text" placeholder="filter character" #filter>
        <button class="primary" type="button">Search</button>
    </form>
</section>
<app-paginator (newItemEvent)="navigateToPage($event)" [paginatorInfo]="characterInfo"></app-paginator>
<section class="page-characters-wrapper ">
    <app-character-card *ngFor="let character of dataCharacterPage?.results"
        [character]="character"></app-character-card>
</section>