<section class="face-page">
    <h1>Characters</h1>

    <div class="group">
        <span class="material-symbols-outlined icon">search</span>
        <input placeholder="filter character" type="search" class="input">
    </div>

</section>
<div class="stars-container">
    <app-stars />
    <section class="page-wrapper ">
        <app-character-card *ngFor="let character of dataCharacterPage?.results"
            [character]="character"></app-character-card>
    </section>
    <app-paginator (newItemEvent)="navigateToPage($event)" [paginatorInfo]="characterInfo"></app-paginator>
</div>